In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/mcdonalds-store-reviews/McDonald_s_Reviews.csv

# Data processing

In [2]:
df = pd.read_csv("/kaggle/input/mcdonalds-store-reviews/McDonald_s_Reviews.csv", encoding='ISO-8859-1')
df

,reviewer_id,store_name,category,store_address,latitude,longitude,rating_count,review_time,review,rating
0,1,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",3 months ago,Why does it look like someone spit on my food?...,1 star
1,2,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,It'd McDonalds. It is what it is as far as the...,4 stars
2,3,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,Made a mobile order got to the speaker and che...,1 star
3,4,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",a month ago,My mc. Crispy chicken sandwich was ï¿½ï¿½ï¿½ï¿...,5 stars
4,5,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",2 months ago,"I repeat my order 3 times in the drive thru, a...",1 star
...,...,...,...,...,...,...,...,...,...,...
33391,33392,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",4 years ago,They treated me very badly.,1 star
33392,33393,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",a year ago,The service is very good,5 stars
33393,33394,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",a year ago,To remove hunger is enough,4 stars
33394,33395,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",5 years ago,"It's good, but lately it has become very expen...",5 stars
33395,33396,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",2 years ago,they took good care of me,5 stars

In [3]:
df.rating = df.rating.str.replace(" star.*", "").astype(int)
df.rating

/tmp/ipykernel_20/2215785309.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.rating = df.rating.str.replace(" star.*", "").astype(int)

0        1
1        4
2        1
3        5
4        1
        ..
33391    1
33392    5
33393    4
33394    5
33395    5
Name: rating, Length: 33396, dtype: int64

In [4]:
df = df.drop(["reviewer_id", "store_name", "category", "store_address", "longitude", "review_time"], axis=1)
df

,latitude,rating_count,review,rating
0,30.460718,"1,240",Why does it look like someone spit on my food?...,1
1,30.460718,"1,240",It'd McDonalds. It is what it is as far as the...,4
2,30.460718,"1,240",Made a mobile order got to the speaker and che...,1
3,30.460718,"1,240",My mc. Crispy chicken sandwich was ï¿½ï¿½ï¿½ï¿...,5
4,30.460718,"1,240","I repeat my order 3 times in the drive thru, a...",1
...,...,...,...,...
33391,25.810000,"2,810",They treated me very badly.,1
33392,25.810000,"2,810",The service is very good,5
33393,25.810000,"2,810",To remove hunger is enough,4
33394,25.810000,"2,810","It's good, but lately it has become very expen...",5
33395,25.810000,"2,810",they took good care of me,5

In [5]:
df = df.iloc[:,1:]
df

      rating_count                                             review  rating
0            1,240  Why does it look like someone spit on my food?...       1
1            1,240  It'd McDonalds. It is what it is as far as the...       4
2            1,240  Made a mobile order got to the speaker and che...       1
3            1,240  My mc. Crispy chicken sandwich was ï¿½ï¿½ï¿½ï¿...       5
4            1,240  I repeat my order 3 times in the drive thru, a...       1
...            ...                                                ...     ...
33391        2,810                        They treated me very badly.       1
33392        2,810                           The service is very good       5
33393        2,810                         To remove hunger is enough       4
33394        2,810  It's good, but lately it has become very expen...       5
33395        2,810                          they took good care of me       5

[33396 rows x 3 columns]

In [6]:
mask = df['review'].str.contains(r'^[a-zA-Z0-9\s.,!?]*$', na=False, regex=True)
df_clean_review = df[mask].copy()

In [7]:
df_clean_review

      rating_count                                             review  rating
4            1,240  I repeat my order 3 times in the drive thru, a...       1
8            1,240  Went thru drive thru. Ordered. Getting home no...       1
11           1,240  We stopped by for a quick breakfast.  It was n...       2
14           1,240  Ordered food burger wrong and left out part of...       1
17           1,240  The boy who attended me made me wait and when ...       1
...            ...                                                ...     ...
33390        2,810                                         Very. Well       5
33391        2,810                        They treated me very badly.       1
33392        2,810                           The service is very good       5
33393        2,810                         To remove hunger is enough       4
33395        2,810                          they took good care of me       5

[20557 rows x 3 columns]